.img_area{
        position:relative
        line-height:0;
        height:100vw
        .img_mask{
            position:absolute;
            width:100%;
            height:100%;
            left:0;
            top:0;
            background: url('') no-repeat; background-size:100% 100%
            &.type3{
                background-image: url('../../img/img_goods_reg.png')
            }
            &.type4{
                background-image: url('../../img/img_goods_copy.png')
            }
            &.type5{
                background-image: url('../../img/img_goods_for.png')
            }
            &.type7{
                background-image: url('../../img/img_goods_gen.png')
            }
        }
        img{
            width:100%
            height:100vw
        }
    }