.txt{
        padding:20px;
        letter-spacing: -0.4px;
        
        font-size:14px;
        line-height: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1)
        margin-bottom:0
        &.txt01{
            color:#039BE5
        }
        &.txt03{
            color:#E53935
        }
        &.txt04{
            color:#E53935
        }
        &.txt05{
            color:#FB8C00
        }
        &.txt07{
            color:#039BE5
        }
    }