.input_area{
    input{
        width:100%;
        line-height:20px;
        padding:20px 80px 20px 10px;
        border:0;
        border-bottom:1px solid #eee
        box-sizing: border-box
    }
    .btn_add{
        position: absolute;
        top:0;
        right:0;
        display:block;
        box-sizing: border-box;
        padding:10px;
        line-height:40px;
        border:0;
        width:60px;
        height:60px;
        background:#039BE5;
        color:#fff;
        font-size:30px;
    }
}